* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: #0f0f0f;
    color: white;
}

.box {
    width: 90%;
    max-width: 500px;

    padding: 35px;

    text-align: center;

    background: #1c1c1c;

    border-radius: 20px;
}

h1 {
    margin-bottom: 10px;
}

input {
    width: 100%;

    padding: 15px;

    margin-top: 20px;
    margin-bottom: 15px;

    border: none;
    border-radius: 10px;

    font-size: 16px;
}

button {
    width: 100%;

    padding: 15px;

    border: none;
    border-radius: 10px;

    background: #ffffff;
    color: #000000;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

#message {
    margin-top: 20px;
}
